.pagination {padding:10px 0; text-align:center;}
.pagination li{float: left;}
.pagination .active span{background:#2ab46f; color:#FFF!important; border-color:#2ab46f;padding: 9px 12px!important;}
.pagination span,.pagination a{ font-size:13px;color:#666666!important;border-radius:2px;padding: 9px 12px!important;	 border:1px solid #d4d4d4;display:inline-block; margin:0 4px; min-width: 40px; height: 36px; line-height: 36px; cursor: pointer;text-align: center;}

.pagination span.current{ background:#2ab46f; color:#FFF; border-color:#2ab46f; margin:0 2px;}
.pagination a:hover{background:#2ab46f!important; color:#FFF; border-color:#2ab46f!important; }
.pagination label{ padding-left:15px; color:#999;}
.pagination label b{color:red; font-weight:normal; margin:0 3px;}