<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="{$set['host_key']}">
    <meta name="description" content="{$set['host_content']}">
    <title>{$set['host_name']}-Login</title>
    <link rel="stylesheet" href="/index/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="/index/css/Component.css">
    <link rel="stylesheet" href="/index/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/index/css/init.css">
    <link rel="stylesheet" href="/index/css/style.css">
    <link rel="stylesheet" href="/index/fonts/iconfont.css">
    <link rel="stylesheet" href="/index/font/css/font-awesome.min.css">
    

</head>

<body>
    {include file="Public/header" /}
    <div class="centerbox loginbox">
        <div class="alert-prompt">
            <div class="prompt">
                <p class="tit">Prompt</p>
                <div class="p-init"></div>
            </div>
        </div>
        <div class="container">
            <div class="login">
                <div class="row">
                    <div class="img col-sm-7">
                        <img src="/index/images/login_bj.png" alt="">
                    </div>
                    <div class="text col-sm-5">
                        <h3>Please Sign In</h3>
                        <form action="{:url('login/index')}">
                            <div class="wrap">
                                <div class="item">
                                    <div class="tit">
                                        Email address
                                        <span class="imp-icon">*</span>
                                    </div>
                                    <div class="inp">
                                        <input type="text" name="email" class="user_name" placeholder="Enter Your E-mail">
                                        <div class="correct">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="error">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>

                                </div>
                                <div class="item">
                                    <div class="tit">
                                        Password
                                        <span class="imp-icon">*</span>
                                    </div>
                                    <div class="inp">
                                        <input type="password" name="password" class="pass_word" placeholder="6~15 characters in Length">
                                        <div class="correct">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="error">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="checkbox">
                                        <span class="box">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span class="c-test">Remember me</span>
                                        <input class="c-inp" type="hidden" value="false" name="is_reme">
                                    </div>
                                    <div class="forget">
                                     <!--    <a href="">Forgot your password?</a> -->
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="my-btn sign">
                                        <button type="submit">Sign in</button>
                                    </div>
                                </div>
                                <div class="or-box">
                                    <h4>
                                        <span>OR</span>
                                    </h4>
                                </div>
                                <div class="item">
                                    <div class="my-btn account">
                                        <button type="button" onclick="window.location.href='/index/reg/index.html'" >Create account</button>
                                    </div>
                                </div>
                               <!--  <div class="item">
                                    <div class="my-btn facebook nobold">
                                        <button type="button">
                                            <i class="fa fa-facebook"></i>
                                            <span>Sign In With Facebook</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="my-btn google nobold">
                                        <button type="button">
                                            <i class="fa fa-google-plus"></i>
                                            <span>Sign In With Google</span>
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {include file="Public/footer" /}
    <script src="/index/js/jquery.js"></script>
    <script src="/index/swiper/dist/js/swiper.min.js"></script>
    <script src="/index/js/Component.js"></script>
    <script src="/index/js/index.js"></script>
</body>

</html>