<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/index/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="/index/css/Component.css">
    <link rel="stylesheet" href="/index/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/index/css/init.css">
    <link rel="stylesheet" href="/index/css/style.css">
      <link rel="stylesheet" href="/index/css/index.css">
    <link rel="stylesheet" href="/index/fonts/iconfont.css">
    <link rel="stylesheet" href="/index/font/css/font-awesome.min.css">
    <meta name="keywords" content="{$set['host_key']}">
    <meta name="description" content="{$set['host_content']}">
    <title>{$set['host_name']}-Submit</title>

</head>

<body>
    {include file="Public/header" /}
    <div class="centerbox orderbox">
        <div class="alert-prompt">
            <div class="prompt">
                <p class="tit">Prompt</p>
                <div class="p-init"></div>
            </div>
        </div>
        <div class="container">
            <div class="login cart">
                <div class="mytit">
                    Payment
                </div>
                <div class="personal shopping order pay">
                    <div class="only histor shopping-box">
                        <div class="scroll-box">
                            <div class="list-wrap">
                                <div class="list-l">
                                        <ul class="list">
                                                <li class="li-tit">
                                                    <div class="name">Commodity name</div>
                                                    <div class="price">Subtotal</div>
                                                </li>
                                                {$str}
                                               
                                            </ul>
                                </div>
                                <div class="summary">
                                    <div class="names">Summary</div>
                                    <ol>
                                        <li>
                                            <div class="tits">Subtotal :</div>
                                            <div class="prices">${$toprice}</div>
                                        </li>
                                        <li>
                                            <div class="tits">Shipping :</div>
                                            <div class="prices">${$shipping}</div>
                                        </li>
                                       <!--  <li>
                                           <div class="tits">Taxes :</div>
                                           <div class="prices">$9.60</div>
                                       </li> -->
                                        <li>
                                            <div class="tits">Free Shipping :</div>
                                            <div class="prices">-$0</div>
                                        </li>
                                        <li class="total">
                                            <div class="tits">Total :</div>
                                            <div class="prices">${$alltotal}</div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="invoice">
                                <div class="lef">
                                    <div class="names">Invoiced To</div>
                                    <div class="wraps">
                                        <p>Personal information</p>
                                        <p>{$info['name'][0]} {$info['name'][1]}</p>
                                        <p>{$info['phone']}</p>
                                        <p>{$info['em']}</p>
                                    </div>
                                </div>
                                <div class="lef rig">
                                    <div class="names">Pay To</div>
                                    <div class="wraps">
                                        <p>{$info['zip']} </p>
                                        <p>{$info['address']}</p>
                                        <p>{$info['city']}</p>
                                        <p>{$info['province']}</p>
                                        <p>{$info['country']}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pay-tit">
                                <h2>Payment method</h2>
                                <p>All transactions are secure and encrypted. Credit card information is never stored.</p>
                            </div>
                            <div class="method pay-method">
                                <div>Paypal</div>
                           <!--      <div>Alipay</div>
                           <div>Credit Card (Stripe)</div> -->
                            </div>
                            <div class="total-price">
                                <span class="name">TOTAL:</span>
                                <span class="all-price">${$alltotal}</span>
                            </div>
                            <div class="pay-bot">
                            <form method='post' name="myform"> 
                            <input value='_cart' type='hidden' name='cmd'>    

                            <input value="724165502-facilitator@qq.com" type='hidden' name='business'> 
                            <input type="hidden" name="upload">
                            {$str2}
                            <input value='USD' type='hidden' name='currency_code'>
                            <input value='http://test.quanlaoba.com/index.php/index/notify/index' type='hidden' name='return'> 
                            <input value='http://test.quanlaoba.com/index.php/index/notify/index' type='hidden' name='notify_url'>
                            <input value='http://test.quanlaoba.com' type='hidden' name='cancel_return '>
                            
                            <input type="hidden" name="rm" value="2">
                            <input type='hidden' name='invoice' value="{$dd}">
                            <input type="hidden" value="utf-8" name="charset"/>
                            <input type='hidden' name='custom' value="{$info['username']},{$info['country']},{$info['province']},{$info['city']},{$info['address']},{$info['address1']},{$info['zip']},$info['phone']">
                            <input value='US' type='hidden' name='lc'> 
                            <button class="paypal-btn" onclick="pay()" type="submit" ><img src="/index/images/paypal_bj.png" alt=""></button>
                            </form>
                               <!--  <button class="alipay-btn">Pay Now</button>
                               <button class="credit-btn">Pay Now</button> -->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {include file="Public/footer" /}
    <script src="/index/js/jquery.js"></script>
    <script src="/index/swiper/dist/js/swiper.min.js"></script>
    <script src="/index/js/Component.js"></script>
    <script src="/index/js/index.js"></script>
    <script>
    function pay(){
      document.myform.action="https://www.sandbox.paypal.com/cgi-bin/webscr";
      document.myform.submit();
   }
    </script>
</body>

</html>