button {
  background: #5fc9d9;
  padding: 0 20px;
}
button:hover {
  background: #5cbfce;
}
input:focus,
textarea:focus {
  border-color: #5fc9d9;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: block;
}
header .h-main {
  background: #5fc9d9;
}
header .h-main .h-left {
  float: left;
}
header .h-main .h-left .logoBox a {
  display: block;
  line-height: 70px;
}
header .h-main .h-right {
  float: right;
}
header .h-main .h-right .navBox {
  float: left;
}
header .h-main .h-right .navBox .main .nav-list {
  font-size: 1.6rem;
}
header .h-main .h-right .navBox .main .nav-list > li {
  float: left;
  padding: 0 20px;
  transition: all ease 0.2s;
}
header .h-main .h-right .navBox .main .nav-list > li > a {
  display: block;
  color: #fff;
  height: 70px;
  line-height: 70px;
  transition: all ease 0.3s;
  position: relative;
}
header .h-main .h-right .navBox .main .nav-list > li > a i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: none;
  font-size: 1rem;
}
header .h-main .h-right .navBox .main .nav-list > li .pro-box {
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20px 0;
  top: 70px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 6px;
  display: none;
}
header .h-main .h-right .navBox .main .nav-list > li .pro-box .p-list li {
  padding: 0 15px;
  width: 15%;
}
header .h-main .h-right .navBox .main .nav-list > li .pro-box .p-list li a {
  display: block;
}
header .h-main .h-right .navBox .main .nav-list > li .pro-box .p-list li a .img {
  height: 120px;
  overflow: hidden;
  text-align: center;
}
header .h-main .h-right .navBox .main .nav-list > li .pro-box .p-list li a .img img {
  height: 100%;
  width: auto;
}
header .h-main .h-right .navBox .main .nav-list > li .pro-box .p-list li a .tit {
  color: #444444;
  margin-top: 10px;
  text-align: center;
  font-size: 1.3rem;
  transition: all ease 0.2s;
}
header .h-main .h-right .navBox .main .nav-list > li .pro-box .p-list li:hover a .tit {
  color: #58bac9;
}
header .h-main .h-right .navBox .main .nav-list > li .pro-box.active {
  visibility: inherit;
}
header .h-main .h-right .navBox .main .nav-list .support {
  position: relative;
}
header .h-main .h-right .navBox .main .nav-list::after {
  display: block;
  content: '';
  clear: both;
}
header .h-main .h-right .iconBox {
  float: left;
  padding-left: 50px;
}
header .h-main .h-right .iconBox .main .i-list > li {
  width: 40px;
  line-height: 70px;
  height: 70px;
  text-align: center;
  float: left;
  margin: 0 5px;
  color: #fff;
  transition: all ease 0.1s;
  position: relative;
  cursor: pointer;
}
header .h-main .h-right .iconBox .main .i-list > li i {
  font-size: 2rem;
}
header .h-main .h-right .iconBox .main .i-list .my-search {
  cursor: inherit;
  width: auto;
}
header .h-main .h-right .iconBox .main .i-list .my-search .se-btn {
  width: 40px;
  line-height: 40px;
  height: 40px;
  position: relative;
  top: 16px;
  cursor: pointer;
  z-index: 20;
}
header .h-main .h-right .iconBox .main .i-list .my-search .subs{
  display:none;
  background:none;
  padding:0;
  width:40px;
  text-align:center;
}
header .h-main .h-right .iconBox .main .i-list .my-search .se-btn.active i {
  color: #58bac9;
}
header .h-main .h-right .iconBox .main .i-list .my-search .se-text {
  position: absolute;
  left: 40px;
  top: 0;
  width: 0;
  height: 36px;
  transition: all ease 0.2s;
}
header .h-main .h-right .iconBox .main .i-list .my-search .se-text input {
  width: 100%;
  height: 100%;
  background: #fff;
  border: none;
  border-radius: 5px;
  color: #444444;
  padding: 0;
}
header .h-main .h-right .iconBox .main .i-list .my-search .se-text.active {
  width: 500px;
  left: -460px;
}
header .h-main .h-right .iconBox .main .i-list .my-search .se-text.active input {
  padding-right: 40px;
  padding-left: 15px;
}
header .h-main .h-right .iconBox .main .my-user a {
  color: #fff;
}
header .h-main .h-right .iconBox .main .i-list::after {
  display: block;
  content: '';
  clear: both;
}
header .h-main .h-right .sup-box {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 200px;
  margin-top: 15px;
  background: #5fc9d9;
  display: none;
}
header .h-main .h-right .sup-box .list {
  padding: 15px 0;
}
header .h-main .h-right .sup-box .list li a {
  color: #fff;
  display: block;
  padding: 0 30px;
  height: 36px;
  line-height: 36px;
  transition: all ease 0.3s;
  text-align: left;
  font-size: 1.4rem;
}
header .h-main .h-right .sup-box .list li a i {
  margin-right: 8px;
  position: relative;
  top: 2px;
  font-size: 2rem;
}
header .h-main .h-right .sup-box .list li a img {
  position: relative;
  top: -2px;
  margin-right: 8px;
}
header .h-main .h-right .sup-box .list li:hover a {
  background: #58bac9;
}
header .h-main .h-right .sup-box::before {
  content: '';
  display: block;
  border: 10px solid transparent;
  border-bottom-color: #5fc9d9;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}
header .homeCon {
  padding-top: 70px;
}
.centerbox {
  padding-top: 70px;
  padding-bottom: 100px;
}
.centerbox .third-box {
  margin: 50px 0;
}
.centerbox .third-box .th-list::after {
  display: block;
  content: '';
  clear: both;
}
.centerbox .third-box .th-list li .main {
  position: relative;
  width: 100%;
  transition: all ease 0.3s;
}
.centerbox .third-box .th-list li .main .img img {
  width: 100%;
}
.centerbox .third-box .th-list li .main .tit {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #5fc9d9;
}
.centerbox .third-box .th-list li .main .tit h4 {
  font-size: 2.2rem;
}
.centerbox .third-box .th-list li .main a {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.centerbox .third-box .th-list li .main:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
.centerbox .title-box {
  margin-bottom: 20px;
}
.centerbox .title-box .main::after {
  display: block;
  content: '';
  border-bottom: 1px solid #58bac9;
  position: relative;
  top: -14px;
  width: 100%;
}
.centerbox .title-box .main {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.centerbox .title-box h3 {
  display: inline-block;
  padding: 0 20px;
  background: #fff;
  position: relative;
  z-index: 10;
  color: #58bac9;
}
.centerbox .video-box {
  position: relative;
}
.centerbox .video-box .play-btn {
  transition: all ease 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}
.centerbox .video-box .play-btn i {
  font-size: 60px;
}
.centerbox .video-box #myvideo {
  width: 100%;
}
.centerbox .morePic .m-item {
  font-size: 0;
  margin-top: 20px;
}
.centerbox .morePic .m-item img {
  width: 100%;
}
.centerbox .morePic .m-item a {
  display: block;
}
.centerbox .morePic .m-item .left,
.centerbox .morePic .m-item .right {
  float: left;
  width: 50%;
}
.centerbox .slider .cur-list li {
  border: none;
  width: 30px;
  height: 4px;
  background: #d8d8d8;
  border-radius: inherit;
}
.centerbox .slider .prev-btn,
.centerbox .slider .next-btn {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.centerbox .o-bj img {
  width: 100%;
}
.centerbox .login {
  padding-top: 100px;
}
.centerbox .login .img img {
  width: 100%;
}
.centerbox .login .o-text {
  margin-bottom: 20px;
}
.centerbox .login .o-text h4 {
  margin-bottom: 5px;
  font-size: 2rem;
}
.centerbox .login .r-text {
  margin-bottom: 45px;
}
.centerbox .login .text {
  padding-left: 30px;
}
.centerbox .login .text h3 {
  text-transform: uppercase;
  font-size: 2.6rem;
  margin-bottom: 15px;
  font-weight: 700;
}
.centerbox .login .text .wrap .item {
  margin-bottom: 15px;
}
.centerbox .login .text .wrap .item .tit {
  margin-bottom: 5px;
}
.centerbox .login .text .wrap .item .tit .imp-icon {
  position: relative;
  top: 3px;
  color: #eb3544;
}
.centerbox .login .text .wrap .item .inp {
  position: relative;
}
.centerbox .login .text .wrap .item .inp input {
  width: 100%;
  height: 50px;
}
.centerbox .login .text .wrap .item .inp .captcha {
  padding: 0 100px 0 15px;
}
.centerbox .login .text .wrap .item .inp .error,
.centerbox .login .text .wrap .item .inp .correct {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: #eb3544;
  position: absolute;
  top: 50%;
  right: -32px;
  transform: translateY(-50%);
  display: none;
  font-size: 1.8rem;
}
.centerbox .login .text .wrap .item .inp .correct {
  background: #01d8b6;
}
.centerbox .login .text .wrap .item .inp #can {
  position: absolute;
  top: 0;
  right: 0;
}
.centerbox .login .text .wrap .item .my-btn button {
  height: 50px;
  width: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.centerbox .login .text .wrap .item .order {
  margin-top: 20px;
}
.centerbox .login .text .wrap .item .nobold button {
  font-weight: normal;
  text-transform: inherit;
  background: #01d8b6;
}
.centerbox .login .text .wrap .item .nobold button i {
  font-size: 2.2rem;
  margin-right: 5px;
}
.centerbox .login .text .wrap .item .nobold button:hover {
  background: #01cfb0;
}
.centerbox .login .text .wrap .item .google button {
  background: #02a0ea;
}
.centerbox .login .text .wrap .item .google button:hover {
  background: #0297db;
}
.centerbox .login .text .wrap .item .forget {
  margin-top: 2px;
}
.centerbox .login .text .wrap .item .forget a {
  color: #5cbfce;
}
.centerbox .login .text .wrap .item .sign-box:hover span a {
  color: #5cbfce;
}
.centerbox .login .text .wrap .item .sign-box span a {
  transition: all ease 0.2s;
  font-size: 1.7rem;
  color: #a8a8a8;
}
.centerbox .login .text .wrap .item .sign-box span a i {
  font-size: 2.4rem;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
.centerbox .login .text .wrap .or-box {
  margin-bottom: 15px;
}
.centerbox .login .text .wrap .or-box h4 {
  width: 80%;
  margin: 0 auto;
  color: #5fc9d9;
  text-align: center;
}
.centerbox .login .text .wrap .or-box h4 span {
  display: inline-block;
  padding: 0 15px;
  background: #fff;
  position: relative;
  z-index: 1;
}
.centerbox .login .text .wrap .or-box h4:after {
  content: '';
  display: block;
  border-top: 1px solid #5fc9d9;
  width: 100%;
  position: relative;
  top: -10px;
}
.centerbox .login .text .main {
  padding-top: 120px;
}
.centerbox .login .text .main p {
  font-size: 3rem;
  font-weight: 700;
  color: #5cbfce;
  margin-bottom: 40px;
}
.centerbox .login .text .main p .month {
  color: #eb3544;
}
.centerbox .login .text .main .reSign {
  font-size: 1.6rem;
}
.centerbox .login .text .main .reSign i {
  font-size: 2.2rem;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
.centerbox .login .order-text {
  padding-left: 15px;
}
.centerbox .login .order-text .wrap .item {
  margin-bottom: 10px;
}
.centerbox .login .rigbtn {
  padding-left: 60px;
}
.centerbox .login .rigbtn .wrap .item {
  margin-bottom: 27px;
}
.centerbox .login .mytit {
  padding-bottom: 50px;
  text-align: center;
  font-size: 2.6rem;
}
.centerbox .login .empy {
  color: #ccc;
}
.centerbox .login .empy .mycart {
  text-align: center;
}
.centerbox .login .empy .mycart i {
  font-size: 6rem;
}
.centerbox .login .empy p {
  text-align: center;
  font-size: 1.8rem;
}
.centerbox .login .empy .shopp-btn {
  text-align: center;
  padding-top: 30px;
}
.centerbox .login .empy .shopp-btn button {
  border-radius: 20px;
  padding: 0 40px;
}
.centerbox .checkbox {
  display: inline-block;
  margin: 0;
  color: #b6b6b6;
  cursor: pointer;
}
.centerbox .checkbox:hover .box {
  border-color: #5fc9d9;
}
.centerbox .checkbox .box {
  border: 1px solid #b6b6b6;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 1px;
  display: inline-block;
  color: rgba(255, 255, 255, 0);
  transition: all ease 0.2s;
}
.centerbox .checkbox .box i {
  font-size: 12px;
  position: relative;
  top: -1px;
}
.centerbox .checkbox.active {
  color: #444444;
}
.centerbox .checkbox.active .box {
  border-color: #5fc9d9;
  background: #5fc9d9;
  color: #fff;
}
.centerbox .personal .histor .show-tit {
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  font-size: 0;
  display: none;
  position: relative;
}
.centerbox .personal .histor .show-tit .all-remove {
  position: absolute;
  top: 0;
  right: 15px;
  padding: 0 15px;
  background: #eb3544;
  color: #fff;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
  display: block;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
}
.centerbox .personal .histor .show-tit .all-remove:hover {
  background: #db3341;
}
.centerbox .personal .histor .show-tit .all-check {
  display: inline-block;
  width: 3%;
  font-size: 1.4rem;
  position: relative;
  height: 100%;
  vertical-align: top;
}
.centerbox .personal .histor .show-tit .all-check-box {
  transition: all ease 0.2s;
  width: 18px;
  height: 18px;
  position: relative;
  border: 1px solid #b6b6b6;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  cursor: pointer;
}
.centerbox .personal .histor .show-tit .all-check-box i {
  transition: all ease 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
}
.centerbox .personal .histor .show-tit .all-check-box.active {
  background: #5cbfce;
  border-color: #5cbfce;
}
.centerbox .personal .histor .show-tit .all-check-box.active i {
  opacity: 1;
}
.centerbox .personal .histor .show-tit .tit {
  display: inline-block;
  font-size: 1.4rem;
}
.centerbox .personal .histor .table li {
  margin-bottom: 30px;
  line-height: 40px;
  height: 40px;
  display: flex;
}
.centerbox .personal .histor .table li > span {
  float: left;
  text-align: left;
  transition: all ease 0.2s;
}
.centerbox .personal .histor .table li .img {
  width: 26%;
  flex-grow: 1;
}
.centerbox .personal .histor .table li .img span {
  width: 120px;
  display: block;
}
.centerbox .personal .histor .table li .name {
  width: 26%;
}
.centerbox .personal .histor .table li .color {
  width: 17%;
}
.centerbox .personal .histor .table li .check {
  width: 3%;
  position: relative;
  height: 100%;
  vertical-align: top;
  display: none;
}
.centerbox .personal .histor .table li .check-box {
  transition: all ease 0.2s;
  width: 18px;
  height: 18px;
  position: relative;
  border: 1px solid #b6b6b6;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  cursor: pointer;
}
.centerbox .personal .histor .table li .check-box i {
  transition: all ease 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
}
.centerbox .personal .histor .table li .check-box.active {
  background: #5cbfce;
  border-color: #5cbfce;
}
.centerbox .personal .histor .table li .check-box.active i {
  opacity: 1;
}
.centerbox .personal .histor .table li .price {
  width: 10%;
}
.centerbox .personal .histor .table li .number {
  width: 10%;
}
.centerbox .personal .histor .table li::after {
  display: block;
  clear: both;
  content: '';
}
.centerbox .personal .histor .table li .all-price {
  text-align: right;
  width: 4%;
}
.centerbox .personal .histor .table li .remove {
  width: 4%;
  position: relative;
  height: 100%;
  display: none;
}
.centerbox .personal .histor .table li .remove .remove-btn {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  transition: all ease 0.1s;
  color: #7c7c7c;
}
.centerbox .personal .histor .table li .remove .remove-btn:hover {
  color: #eb3544;
}
.centerbox .personal .security .list li {
  width: 100%;
  margin-bottom: 30px;
}
.centerbox .personal .security .list li .tit {
  font-size: 16px;
  padding-left: 15px;
  margin-bottom: 8px;
}
.centerbox .personal .security .list li input {
  border: 1px solid #ececec;
  border-radius: 2px;
  height: 46px;
  padding: 0 15px;
  width: 100%;
  background: #f5f5f5;
  color: #7c7c7c;
  transition: all ease 0.2s;
}
.centerbox .personal .security .list li input.active {
  background: none;
  color: #333;
  border-color: #dfdfdf;
}
.centerbox .personal .security .list li input.active:focus {
  border-color: #02a0ea;
}
.centerbox .shopping .shopping-box .table li .check {
  display: block;
}
.centerbox .shopping .shopping-box .table {
  margin-bottom: 60px;
}
.centerbox .shopping .shopping-box .table li .remove {
  display: block;
}
.centerbox .shopping .shopping-box .show-tit {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
}
.centerbox .shopping .shopping-box .show-tit .name {
  width: 26%;
}
.centerbox .shopping .shopping-box .show-tit .all-price {
  text-align: left;
  width: 14%;
}
.centerbox .shopping .shopping-box .show-tit .price {
  width: 14%;
}
.centerbox .shopping .shopping-box .show-tit .number {
  width: 16%;
}
.centerbox .shopping .shopping-box .show-tit .edit {
  width: 4%;
}
.centerbox .shopping .shopping-box .show-tit span {
  float: left;
  text-align: left;
}
.centerbox .shopping .shopping-box .show-tit .tit {
  flex-grow: 1;
  width: 26%;
  font-size: 1.5rem;
}
.centerbox .shopping .shopping-box .table li {
  border-top: 1px solid #cacaca;
  margin: 0;
  height: 100px;
  line-height: 100px;
}
.centerbox .shopping .shopping-box .table li:last-child {
  border-bottom: 1px solid #cacaca;
}
.centerbox .shopping .shopping-box .table li .number {
  width: 16%;
}
.centerbox .shopping .shopping-box .table li .all-price {
  width: 14%;
  text-align: left;
}
.centerbox .shopping .shopping-box .table li .price {
  width: 14%;
}
.centerbox .shopping .shopping-box .table li .remove {
  text-align: left;
}
.centerbox .shopping .shopping-box .table li .remove .remove-btn {
  left: 0;
}
.centerbox .shopping .sett-box::after {
  display: block;
  clear: both;
  content: '';
}
.centerbox .shopping .sett-box .all-remove {
  padding: 0 20px;
  background: #eb3544;
  color: #fff;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  display: block;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  float: left;
}
.centerbox .shopping .sett-box .all-remove:hover {
  background: #db3341;
}
.centerbox .shopping .sett-box .rig {
  float: right;
}
.centerbox .shopping .sett-box .rig .tol {
  margin-right: 20px;
  line-height: 30px;
  position: relative;
  top: 8px;
}
.centerbox .shopping .sett-box .rig .tol small {
  font-size: 1.3rem;
}
.centerbox .shopping .sett-box .rig .tol .allPrice {
  font-size: 3rem;
}
.centerbox .shopping .sett-box .rig .pay-btn {
  background: #5fc9d9;
  color: #fff;
  padding: 0 20px;
  height: 36px;
  line-height: 36px;
  border: none;
  border-radius: 2px;
}
.centerbox .shopping .sett-box .rig .pay-btn:hover {
  background: #58bac9;
}
.centerbox .shopping .shopping-box .number {
  position: relative;
}
.centerbox .shopping .shopping-box .number .number-box {
  line-height: 30px;
  display: block;
  border: 1px solid #cacaca;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.centerbox .shopping .shopping-box .number .number-box::after {
  display: block;
  content: '';
  clear: both;
}
.centerbox .shopping .shopping-box .number .number-box .plus,
.centerbox .shopping .shopping-box .number .number-box .cut {
  float: left;
  width: 32%;
  text-align: center;
  font-size: 1.3rem;
  line-height: 30px;
  color: #7c7c7c;
  cursor: pointer;
  transition: all ease 0.1s;
}
.centerbox .shopping .shopping-box .number .number-box .plus i,
.centerbox .shopping .shopping-box .number .number-box .cut i {
  position: relative;
  top: 2px;
}
.centerbox .shopping .shopping-box .number .number-box .plus:hover,
.centerbox .shopping .shopping-box .number .number-box .cut:hover {
  color: #5cbfce;
}
.centerbox .shopping .shopping-box .number .number-box .text {
  float: left;
  width: 36%;
  border: none;
  text-align: center;
  height: auto;
  padding: 0;
}
.centerbox .shopping .like-list li .top {
  margin-bottom: 15px;
  overflow: hidden;
}
.centerbox .shopping .like-list li .top img {
  transition: all ease 0.3s;
}
.centerbox .shopping .like-list li .top:hover img {
  transform: scale(1.1);
}
.centerbox .shopping .like-list li .bot {
  text-align: center;
}
.centerbox .shopping .like-list li .bot .tit {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.centerbox .shopping .like-list li .bot .tit a {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.centerbox .shopping .like-list li .bot .price span {
  font-size: 18px;
}
.centerbox .bigdeal {
  padding-top: 100px;
}
.centerbox .bigdeal .main .big-list li {
  margin: 15px 0;
}
.centerbox .bigdeal .main .big-list li .wrap {
  background: #fff;
  padding: 20px;
  transition: all ease 0.5s;
  position: relative;
}
.centerbox .bigdeal .main .big-list li .wrap .offbox {
  padding: 0 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
  line-height: 30px;
  background: #eb3544;
  color: #fff;
  font-size: 1.3rem;
  z-index: 3;
}
.centerbox .bigdeal .main .big-list li .wrap a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 9;
}
.centerbox .bigdeal .main .big-list li .wrap .left-img {
  padding: 30px 15px;
  overflow: hidden;
}
.centerbox .bigdeal .main .big-list li .wrap .left-img img {
  width: 100%;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info {
  padding: 30px 15px;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info h3 {
  color: #5fc9d9;
  font-weight: 700;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .text {
  font-size: 1.3rem;
  margin-top: 10px;
  height: 70px;
  overflow: hidden;
  margin-bottom: 20px;
  color: #535353;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .price {
  font-weight: 700;
  color: #5fc9d9;
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .old-pice {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add {
  border: 2px solid #5fc9d9;
  position: relative;
  z-index: 10;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add .num {
  float: left;
  display: flex;
  width: 40%;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add .num .cut-btn,
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add .num .plus-btn {
  width: 30px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: all ease 0.1s;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add .num .cut-btn i,
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add .num .plus-btn i {
  font-size: 1.4rem;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add .num .cut-btn:hover,
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add .num .plus-btn:hover {
  color: #5fc9d9;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add .num .numtext {
  flex-grow: 1;
  width: 20%;
  border: none;
  text-align: center;
  padding: 0;
  font-size: 1.6rem;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add .addcart {
  float: left;
  width: 60%;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add .addcart button {
  width: 100%;
}
.centerbox .bigdeal .main .big-list li .wrap .right-info .num-add:after {
  display: block;
  content: '';
  clear: both;
}
.centerbox .bigdeal .main .big-list li .wrap:hover {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.centerbox .bigdeal .main .big-list::after {
  display: block;
  content: '';
  clear: both;
}
.centerbox .bigdeal .main .load-btn {
  text-align: center;
  padding-top: 70px;
}
.centerbox .bigdeal .main .load-btn button {
  border-radius: 20px;
  padding: 0 80px;
}
.centerbox .bigdeal .main .gift-list li {
  margin: 15px 0;
}
.centerbox .bigdeal .main .gift-list li .wrap {
  position: relative;
  overflow: hidden;
  padding: 20px 40px;
}
.centerbox .bigdeal .main .gift-list li .wrap .offbox {
  padding: 0 50px;
  background: #eb3544;
  color: #fff;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 30px;
  left: -40px;
  transform: rotate(-45deg);
  z-index: 3;
}
.centerbox .bigdeal .main .gift-list li .wrap a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all ease 0.3s;
  border: 2px solid transparent;
}
.centerbox .bigdeal .main .gift-list li .wrap a:hover {
  border: 2px solid #5fc9d9;
}
.centerbox .bigdeal .main .gift-list li .wrap .gift-img img {
  width: 100%;
}
.centerbox .bigdeal .main .gift-list li .wrap .color-box {
  margin: 10px 0;
  text-align: center;
}
.centerbox .bigdeal .main .gift-list li .wrap .color-box span {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: linear-gradient(#fff, #fff);
  border-radius: 50%;
}
.centerbox .bigdeal .main .gift-list li .wrap .info {
  text-align: center;
  font-size: 1.4rem;
  height: 42px;
  overflow: hidden;
}
.centerbox .bigdeal .main .gift-list::after {
  display: block;
  content: '';
  clear: both;
}
.centerbox .details .d-top {
  padding: 100px 0;
  background: #f3f3f3;
}
.centerbox .details .d-top .rig-info {
  padding-left: 40px;
}
.centerbox .details .d-top .rig-info .tit {
  font-size: 2.6rem;
  margin-bottom: 10px;
}
.centerbox .details .d-top .rig-info .test {
  font-size: 1.3rem;
  line-height: 20px;
  margin-bottom: 30px;
}
.centerbox .details .d-top .rig-info .price-start {
  margin-bottom: 20px;
}
.centerbox .details .d-top .rig-info .price-start .star-box {
  float: left;
  margin-right: 30px;
  line-height: 40px;
}
.centerbox .details .d-top .rig-info .price-start .star-box .s-icon {
  color: #fec93b;
  font-size: 0;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
.centerbox .details .d-top .rig-info .price-start .star-box .s-icon i {
  display: inline-block;
  font-size: 1.8rem;
  margin-right: 2px;
}
.centerbox .details .d-top .rig-info .price-start .price {
  float: left;
  font-weight: 700;
  font-size: 2.4rem;
  color: #5fc9d9;
  line-height: 40px;
  position: relative;
  top: -3px;
}
.centerbox .details .d-top .rig-info .color-box {
  margin-bottom: 40px;
}
.centerbox .details .d-top .rig-info .color-box .c-dic {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: bottom;
  margin-left: 5px;
}
.centerbox .details .d-top .rig-info .btn-box div {
  margin-bottom: 30px;
}
.centerbox .details .d-top .rig-info .btn-box div button {
  width: 70%;
  padding: 0;
  border-radius: 20px;
  height: 40px;
  background: linear-gradient(#f4d280, #f2cd71, #f1c962);
  color: #444444;
  font-weight: bold;
  border: 1px solid #97792c;
}
.centerbox .details .d-top .rig-info .btn-box div button:hover {
  background: linear-gradient(#f4d280, #e7c46a, #ebc25d);
}
.centerbox .details .d-bottom .main {
  padding: 60px 0;
}
.centerbox .details .d-bottom .main .deta-info {
  padding: 0 100px;
}
.centerbox .details .d-bottom .main .deta-info .d-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.centerbox .details .d-bottom .main .deta-info p {
  line-height: 24px;
  font-size: 1.4rem;
  margin-bottom: 30px;
}
.centerbox .details .d-bottom .main .deta-info .deta-img {
  margin-bottom: 30px;
}
.centerbox .details .d-bottom .main .deta-info .deta-img img {
  width: 100%;
  margin: 7px 0;
}
.centerbox .details .d-bottom .main .deta-info .deta-info-list li {
  padding-left: 15px;
  position: relative;
}
.centerbox .details .d-bottom .main .deta-info .deta-info-list li:before {
  display: block;
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #333;
  left: 0;
  top: 9px;
}
.detabox {
  padding-bottom: 0;
}
footer .email-box {
  background: #f7f7f7;
  padding: 50px 0;
  text-align: center;
}
footer .email-box .main {
  width: 60%;
  margin: 0 auto;
}
footer .email-box .main h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #5fc9d9;
  margin-bottom: 5px;
}
footer .email-box .main p {
  font-weight: 700;
  color: #5fc9d9;
  margin-bottom: 15px;
}
footer .email-box .main div {
  margin-bottom: 20px;
}
footer .email-box .main div .e-text {
  width: 100%;
  height: 50px;
  border: 2px solid #d1d1d1;
  border-radius: 25px;
  text-align: center;
}
footer .email-box .main div .e-text:focus {
  border-color: #b6b6b6;
}
footer .email-box .main div .e-btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
footer .bot-box {
  background: #5fc9d9;
  padding: 80px 0;
}
footer .bot-box .b-logo {
  float: left;
  width: 20%;
}
footer .bot-box a {
  color: #fff;
}
footer .bot-box .b-nav {
  float: left;
  width: 60%;
}
footer .bot-box .b-nav .main ul li {
  float: left;
  width: 33.33%;
  position: relative;
}
footer .bot-box .b-nav .main ul li h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}
footer .bot-box .b-nav .main ul li div {
  margin-bottom: 5px;
}
footer .bot-box .b-nav .main ul li:after {
  display: block;
  content: '';
  position: absolute;
  width: 2px;
  height: 40px;
  background: #fff;
  top: 0;
  right: 40px;
}
footer .bot-box .b-nav .main ul li:last-child:after {
  background: none;
}
footer .bot-box .b-nav .main ul::after {
  clear: both;
  display: block;
  content: '';
}
footer .bot-box .b-icon {
  float: left;
  width: 20%;
}
footer .bot-box .b-icon ul li {
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 15px;
}
footer .bot-box .b-icon ul li i {
  font-size: 26px;
}
footer .bot-box .b-icon ul::after {
  clear: both;
  display: block;
  content: '';
}
.s-content input {
  border: 1px solid #e2e2e2;
  background: none;
  border-radius: 2px;
  padding: 0 15px;
  height: 40px;
  outline: none;
}
.s-content button {
  height: 40px;
  width: 150px;
  border: none;
  color: #fff;
  font-size: 16px;
  outline: none;
}
.s-content .img-box {
  position: relative;
  height: 100%;
}
.s-content .img-box img {
  width: 100%;
  display: block;
}
.s-content .img-box .img-app {
  display: none;
}
.s-content .tran {
  position: absolute;
  top: 0;
  left: 20%;
  width: 25%;
  height: 100%;
}
.s-content .tran span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 50px;
  color: #fff;
  font-family: 'Placard Condensed';
}
.s-content .tran:after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #10be8a;
  opacity: 0.7;
  transform: skewX(-10deg);
}
.s-content .b-main {
  padding: 80px 0;
}
.s-content .b-main .th-list {
  width: 50%;
  margin: 0 auto;
}
.s-content .b-main .th-list ul li {
  line-height: 24px;
  margin-bottom: 15px;
  color: #707070;
  text-align: center;
}
.s-content .b-main .th-list ul li div {
  display: inline-block;
}
.s-content .b-main .th-list ul li .t-icon {
  margin-right: 5px;
  font-size: 20px;
  position: relative;
  top: 2px;
}
.s-content .b-main .th-list ul li .t-icon i {
  font-size: 2.6rem;
}
.s-content .b-main .email-box {
  padding-top: 40px;
  width: 70%;
  margin: 0 auto;
}
.s-content .b-main .email-box .e-inp {
  margin-bottom: 20px;
}
.s-content .b-main .email-box .e-inp .main {
  display: flex;
}
.s-content .b-main .email-box .e-inp .main label {
  width: 20%;
  line-height: 40px;
  height: 40px;
}
.s-content .b-main .email-box .e-inp .main label .why-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  background: #5fc9d9;
  padding: 0;
}
.s-content .b-main .email-box .e-inp .main label .why-btn i {
  position: relative;
  left: -1px;
}
.s-content .b-main .email-box .e-inp .main label .why-btn:hover {
  background: #5cbfce;
}
.s-content .b-main .email-box .e-inp .main .wra {
  flex-grow: 1;
}
.s-content .b-main .email-box .e-inp .main .wra input {
  width: 100%;
}
.s-content .b-main .email-box .e-inp .main .wra input::placeholder {
  color: #b3b3b3;
}
.s-content .b-main .email-box .e-inp .main .wra input:focus {
  border-color: #5fc9d9;
}
.s-content .b-main .email-box .e-inp .main .wra input.active {
  border-color: #eb3544 ;
}
.s-content .b-main .email-box .e-inp .main .wra .error {
  margin-top: 5px;
  color: #eb3544 ;
  display: none;
}
.s-content .b-main .email-box .e-inp .main .wra .mybtn {
  width: 100%;
  background: #5fc9d9;
  font-size: 16px;
}
.s-content .b-main .email-box .e-inp .main .wra .mybtn:hover {
  background: #5cbfce;
}
.s-content .b-main .email-box .e-inp .main .wra .b-info {
  color: #b3b3b3;
  margin-top: 5px;
}
.s-content .b-main .alert-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}
.s-content .b-main .alert-box .a-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.s-content .b-main .alert-box .a-main {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px;
}
.s-content .b-main .alert-box .a-main .tit {
  line-height: 50px;
  height: 50px;
  padding: 0 30px;
  background: #5cbfce;
  font-weight: 700;
  color: #fff;
  position: relative;
}
.s-content .b-main .alert-box .a-main .tit .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: none;
  overflow: hidden;
}
.s-content .b-main .alert-box .a-main .tit .close-btn span {
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  transition: all ease 0.2s;
}
.s-content .b-main .alert-box .a-main .tit .close-btn span::before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 20px;
  background: #fff;
  transform: translate(-50%, -50%);
}
.s-content .b-main .alert-box .a-main .tit .close-btn span::after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 2px;
  background: #fff;
  transform: translate(-50%, -50%);
}
.s-content .b-main .alert-box .a-main .tit .close-btn:hover span {
  transform: rotate(225deg);
}
.s-content .b-main .alert-box .a-main .text {
  left: 0;
  padding: 30px;
  color: #707070;
}
.s-content .b-main .alert-box .a-main .text p {
  margin-bottom: 20px;
}
.s-content .b-main .alert-box .a-main .btn-box {
  text-align: center;
  padding-bottom: 50px;
}
.s-content .b-main .alert-box .a-main .btn-box .ok-btn {
  width: 60%;
  background: #5fc9d9;
}
.s-content .b-main .alert-box .a-main .btn-box .ok-btn:hover {
  background: #5cbfce;
}
.centerbox .title-box.warr-tit h3 {
  padding: 0 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.centerbox .title-box.warr-tit .main {
  width: 70%;
}
.s-content .b-main .contact-box {
  padding-top: 40px;
  width: 70%;
  margin: 0 auto;
}
.s-content .b-main .contact-box .c-inp {
  margin-bottom: 20px;
}
.s-content .b-main .contact-box .c-inp .main .wra .error {
  margin-top: 5px;
  color: #eb3544;
  display: none;
}
.s-content .b-main .contact-box .c-inp .main .c-tit {
  margin-bottom: 5px;
}
.s-content .b-main .contact-box .c-inp .main .wra input,
.s-content .b-main .contact-box .c-inp .main .wra textarea {
  width: 100%;
}
.s-content .b-main .contact-box .c-inp .main .wra input:focus {
  border-color: #5fc9d9;
}
.s-content .b-main .contact-box .c-inp .main .c-tit .imp-icon {
  color: #eb3544;
  position: relative;
  top: 3px;
  margin-left: 2px;
}
.s-content .b-main .contact-box .c-inp .main .wra button {
  width: 120px;
  border-radius: 18px;
  margin-right: 10px;
  font-weight: bold;
  height: 36px;
}
.s-content .b-main .contact-box .c-inp .main .wra .mybtn-send {
  background: #01d8b6;
}
.s-content .b-main .contact-box .c-inp .main .wra .mybtn-send:hover {
  background: #01cfb0;
}
.s-content .b-main .contact-box .c-inp .main .wra .mybtn-clear {
  background: #02a0ea;
}
.s-content .b-main .contact-box .c-inp .main .wra .mybtn-clear:hover {
  background: #0297db;
}
@media screen and (max-width: 768px) {
  .prompt {
    width: 90%;
  }
  header {
    background: none;
  }
  header .h-main .h-left {
    width: 100%;
    background: #5fc9d9;
    z-index: 9;
    position: relative;
  }
  header .h-main .h-right {
    position: absolute;
    padding-top: 50px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    z-index: 8;
    background: #383838;
  }
  .centerbox {
    padding: 50px 0;
  }
  .centerbox .slider .cur-list li {
    width: 16px;
    height: 1px;
    margin: 0 1px;
  }
  .h-main .container {
    padding: 0;
  }
  header .h-main .h-right {
    display: none;
  }
  header .h-main .h-right .navBox {
    width: 100%;
  }
  header .h-main .h-right .navBox .main .nav-list {
    width: 100%;
  }
  header .h-main .h-right .navBox .main .nav-list > li {
    width: 100%;
    padding: 0;
  }
  header .h-main .h-right .navBox .main .nav-list > li > a i {
    display: block;
  }
  header .h-main .h-right .navBox .main .nav-list > li .pro-box {
    position: relative;
    background: none;
    top: 0;
    padding: 0;
  }
  header .h-main .h-right .navBox .main .nav-list > .toogle-li.active {
    background: #292828;
  }
  header .h-main .h-right .navBox .main .nav-list > li .pro-box .p-list li a {
    line-height: 40px;
    height: 40px;
    opacity: 0.8;
  }
  header .h-main .h-right .navBox .main .nav-list > li .pro-box .p-list li a .tit {
    color: #fff;
    margin: 0;
    width: 100%;
    text-align: left;
  }
  header .h-main .h-right .navBox .main .nav-list > li .pro-box .p-list li {
    width: 100%;
    padding: 0;
  }
  header .h-main .h-right .navBox .main .nav-list > li .pro-box .p-list li a .img {
    display: none;
  }
  header .h-main .h-left .logoBox a {
    padding: 0 12px;
    line-height: 50px;
  }
  header .h-main .h-right .navBox .main .nav-list > li a {
    height: 50px;
    line-height: 50px;
    width: 100%;
    padding: 0 15px;
  }
  header .h-main .h-right .navBox .main .nav-list > li .sup-box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: none;
    transform: none;
    margin: 0;
    display: none;
  }
  header .h-main .h-right .navBox .main .nav-list > li .sup-box .list {
    padding: 0;
  }
  header .h-main .h-right .navBox .main .nav-list > li .sup-box::before {
    display: none;
  }
  header .h-main .h-right .navBox .main .nav-list > li .sup-box .list li a {
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 1.3rem;
    opacity: 0.8;
  }
  header .h-main .h-right .iconBox {
    padding-left: 0px;
  }
  header .h-main .h-right .iconBox .main .i-list .my-search {
    position: inherit;
  }
  header .h-main .h-right .iconBox .main .i-list .my-search .se-text {
    display: none;
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    padding: 0 15px;
    margin-top: 10px;
  }
  header .h-main .h-right .iconBox .main .i-list .my-search .se-text input {
    background: #292828;
    padding: 0 15px;
    color: #fff;
  }
  header .h-main .h-right .iconBox .main .i-list > li {
    margin: 0 10px;
  }
  header .h-main .h-right .sup-box {
    width: 160px;
    margin-top: 0;
  }
  header .h-main .h-right .sup-box .list li a {
    padding: 0 15px;
  }
  .centerbox .third-box .th-list li {
    margin-bottom: 15px;
  }
  .centerbox .third-box .th-list li:last-child {
    margin: 0;
  }
  .centerbox .title-box h3 {
    line-height: 30px;
  }
  .centerbox .video-box .play-btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .centerbox .video-box .play-btn i {
    font-size: 30px;
  }
  .centerbox .morePic .m-item {
    margin: 0;
  }
  .centerbox .morePic .m-item .left,
  .centerbox .morePic .m-item .right {
    width: 100%;
  }
  .centerbox .morePic .m-item .left a,
  .centerbox .morePic .m-item .right a {
    margin-top: 15px;
  }
  footer .email-box .main {
    width: 100%;
  }
  footer .bot-box .b-logo {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .bot-box .b-nav {
    width: 100%;
  }
  footer .bot-box .b-icon {
    width: 100%;
  }
  footer .bot-box .b-nav .main ul li {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .bot-box .b-nav .main ul li:after {
    display: none;
  }
  footer .bot-box .b-nav .main ul li h4 {
    margin-bottom: 10px;
  }
  footer .bot-box .b-icon ul li {
    margin-right: 15px;
    margin-left: 0;
  }
  footer .bot-box {
    padding: 50px 0;
  }
  .centerbox .login .img {
    display: none;
  }
  .centerbox .login .text {
    padding: 0 30px;
  }
  .centerbox .login .text .wrap .item .inp .error,
  .centerbox .login .text .wrap .item .inp .correct {
    width: 20px;
    height: 20px;
    line-height: 20px;
    right: -25px;
    font-size: 1.4rem;
  }
  .centerbox .login {
    padding-top: 50px;
  }
  .centerbox .login .text .main {
    padding-top: 0px;
  }
  .centerbox .login .text .main p {
    margin-bottom: 20px;
  }
  .order-text {
    margin-bottom: 50px;
  }
  .centerbox .login .r-text {
    margin-bottom: 20px;
  }
  .centerbox .shopping .shopping-box .scroll-box {
    overflow-x: scroll;
  }
  .centerbox .shopping .shopping-box .show-tit,
  .centerbox .shopping .shopping-box .table {
    width: 1000px;
    position: relative;
    max-width: inherit;
  }
  .centerbox .personal .histor .table li .img {
    display: block;
  }
  .centerbox .shopping .sett-box .rig .pay-btn,
  .centerbox .shopping .sett-box .all-remove {
    padding: 0 10px;
  }
  .centerbox .shopping .sett-box .rig .tol .allPrice {
    font-size: 2rem;
  }
  .centerbox .bigdeal .main .big-list li .wrap .left-img {
    padding-top: 15px;
  }
  .centerbox .bigdeal .main .load-btn {
    padding-top: 35px;
  }
  .centerbox .bigdeal {
    padding-top: 50px;
  }
  .centerbox .bigdeal .main .gift-list li .wrap a {
    border-color: #f0f0f0;
    border-width: 1px;
  }
  .centerbox .details .d-top {
    padding: 50px 0;
  }
  .centerbox .details .d-top .rig-info {
    margin-top: 50px;
    padding-left: 15px;
  }
  .centerbox .details .d-bottom .main .deta-info {
    padding: 0;
  }
  .centerbox .details .d-bottom .main {
    padding-bottom: 0;
  }
  .s-content .img-box .img-web {
    display: none;
  }
  .s-content .img-box .img-app {
    display: block;
  }
  body,
  html {
    overflow-x: hidden;
  }
  .s-content .img-box .tran {
    left: -8%;
    width: 60%;
  }
  .s-content .img-box .tran span {
    font-size: 30px;
    left: 55%;
  }
  .s-content .b-main .th-list {
    width: 100%;
  }
  .centerbox .title-box.warr-tit .main {
    width: 100%;
  }
  .centerbox .title-box.warr-tit h3 {
    padding: 0 30px;
  }
  .s-content .b-main .email-box {
    width: 100%;
  }
  .s-content .b-main {
    padding-bottom: 0;
    padding-top: 50px;
  }
  .s-content .b-main .email-box .e-inp .main label {
    width: 30%;
  }
  .s-content .b-main .email-box .e-inp .main .kong {
    display: none;
  }
  .s-content .b-main .alert-box .a-main {
    width: 90%;
  }
  .s-content .b-main .alert-box .a-main .text p {
    font-size: 13px;
    margin-bottom: 6px;
  }
  .s-content .b-main .alert-box .a-main .btn-box {
    padding: 0 15px;
    padding-bottom: 20px;
  }
  .s-content .b-main .alert-box .a-main .text {
    padding: 15px;
  }
  .s-content .b-main .alert-box .a-main .btn-box .ok-btn {
    width: 100%;
  }
  .s-content .b-main .alert-box .a-main .tit {
    padding: 0 15px;
  }
  .s-content .b-main .contact-box {
    width: 100%;
  }
  .centerbox .details .d-top .rig-info .btn-box div button {
    width: 100%;
  }
}
