<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="{$set['host_key']}">
    <meta name="description" content="{$set['host_content']}">
    <title>{$set['host_name']}-Order</title>
    <link rel="stylesheet" href="/index/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="/index/css/Component.css">
    <link rel="stylesheet" href="/index/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/index/css/init.css">
    <link rel="stylesheet" href="/index/css/style.css">
    <link rel="stylesheet" href="/index/css/index.css">
    <link rel="stylesheet" href="/index/fonts/iconfont.css">
    <link rel="stylesheet" href="/index/font/css/font-awesome.min.css">


</head>
<style>
    .lable{
  display: inline-block;
  width: 22%;
}
</style>
<body>
    {include file="Public/header" /}
    <div class="centerbox orderbox">
        <div class="alert-prompt">
            <div class="prompt">
                <p class="tit">Prompt</p>
                <div class="p-init"></div>
            </div>
        </div>
        <div class="o-bj">
            <img src="/index/images/cart_bj.png" alt="">
        </div>
        <div class="container">
            <div class="login cart">
                <div class="mytit">
                    My Order
                </div>
                <div class="personal shopping order">
                    <div class="only histor shopping-box">
                        <div class="scroll-box">
                            <div class="o-tit">Confirm order information</div>
                            <div class="list-wrap">
                                <ul class="list">
                                    <li class="li-tit">
                                        <div class="name">Commodity name</div>
                                        <div class="o-price">Purchase price</div>
                                        <div class="quan">Purchase quantity</div>
                                        <div class="price">Subtotal</div>
                                    </li>
                                    {volist name="list" id="vo" }
                                    <li>
                                        <div class="name">
                                            <span class="img"><img src="{$vo.pic}" alt=""></span>
                                            <span class="title">{$vo.proname|substr=0,55}...</span>
                                        </div>
                                        <div class="o-price">${$vo.price}</div>
                                        <div class="quan">{$vo.num}</div>
                                        <div class="price ">${$vo['price']*$vo.num}</div>
                                       
                                    </li>

                                    {/volist}
                                   
                                </ul>
                            </div>
                            <div class="o-tit">Receiving address</div>
                            <div class="address">
                                <form action="{:url('order/address')}">
                                <div class="m-50 item">
                                        <div class="inp"><div class="lable"><span class="msg">First Name</span><span class="icon">*</span></div>
                                        <input type="text" {notempty name="address"} value="{$address['name'][0]}" {/notempty} class="inp-imp" name="f_name" id="f_name"></div>
                                </div>
                                <div class="m-50 item">
                                        <div class="inp"><div class="lable"><span class="msg">Address 1</span><span class="icon">*</span></div>
                                        <input class="inp-imp" type="text" {notempty name="address"} value="{$address['address']}" {/notempty} name="address1" id="Street" ></div>
                                </div>
                                <div class="m-50 item">
                                        <div class="inp"><div class="lable"><span class="msg">Last Name</span><span class="icon">*</span></div>
                                        <input class="inp-imp" type="text" {notempty name="address"} value="{$address['name'][1]}" {/notempty} name="l_name"></div>
                                </div>
                                <div class="m-50 item">
                                        <div class="inp"><div class="lable"><span class="msg">Address 2</span><span class="icon">*</span></div>
                                        <input class="" type="text" {notempty name="address"} value="{$address['address1']}" {/notempty} name="address2" id="Street" ></div>
                                </div>
                     
                                    <div class="m-50 item">     
                                        <div class="inp"><div class="lable"><span class="msg">Email</span><span class="icon">*</span></div>
                                        <input type="text"  class="inp-imp" {notempty name="user_info"} value="{$user_info['email']}" {/notempty} name="email" id="Email"></div>
                                    </div>
                 
                                    <div class="m-50 item">
                                        <div class="inp"><div class="lable"><span class="msg">City</span><span class="icon">*</span></div>
                                        <input class="inp-imp" type="text" {notempty name="address"} value="{$address['city']}" {/notempty} name="city" id="City"></div>
                                    </div>
                            
                                    <div class="m-50 item">
                                        <div class="inp"><div class="lable"><span class="msg">Password</span><span class="icon">*</span></div>
                                        <input class="inp-imp" type="password" {notempty name="user_info"} value="******" {/notempty} name="password" id="Password"></div>
                                    </div>
                   
                                    <div class="m-50 item">
                                        <div class="inp"><div class="lable">
                                        <span class="msg">State/Territory</span><span class="icon">*</span>
                                        </div>
                                        
                                        {notempty name="address"}
                                        {if condition="$address['country'] eq 'United States'"}
                                        <select class="inp-imp" name="province" id="province2">
                                        {volist name="province" id="v"}
                                        <option value="{$v.name}"  {if condition="$v['name'] eq $address['province']"} selected {/if} >{$v.name}</option>
                                        {/volist}
                                        </select>
                                        <input class="" type="text"  value="{$address['province']}" name="province1" id="province1" style="display: none"  >
                                        {else /}
                                        <select class="inp-imp" name="province" id="province2" style="display: none">
                                        {volist name="province" id="v"}
                                        <option value="{$v.name}"  {if condition="$v['name'] eq $address['province']"} selected {/if} >{$v.name}</option>
                                        {/volist}
                                        </select>
                                        <input class="" type="text"  value="{$address['province']}" name="province1" id="province1" >
                                        {/if}
                                        {else /}
                                        <select class="" name="province" id="province2">
                                        {volist name="province" id="v"}
                                        <option value="{$v.name}">{$v.name}</option>
                                        {/volist}
                                        </select>
                                        <input class="" type="text"  value="" name="province2" id="province1" style="display: none" >
                                        {/notempty}
                                       
                                        </div>
                                    </div> 
                             
                                    <div class="m-50 item">
                                        <div class="inp">
                                        <div class="lable"><span class="msg">Confirm Password</span><span class="icon">*</span></div>
                                        <input class="inp-imp" type="password" {notempty name="user_info"} value="******" {/notempty} name="cpassword" id="Password"></div>
                                    </div>
                       
                                 <div class="m-50 item">
                                        <div class="inp"><div class="lable"><span class="msg">Zip Code</span><span class="icon">*</span></div>
                                        <input class="inp-imp" type="text" {notempty name="address"} value="{$address['zip']}" {/notempty} name="zip" id="Zipcode" ></div>
                                </div>
                                <div class="m-50 item">
                                        <div class="inp"><div class="lable"><span class="msg">Phone Number</span><span class="icon">*</span></div>
                                        <input class="inp-imp" type="text" {notempty name="address"} value="{$address['phone']}" {/notempty} name="phone" id="Telephone" ></div>
                                </div>    
                                    <div class="m-50 item">
                                        <div class="inp"><div class="lable"><span class="msg">Country</span><span class="icon">*</span></div>
                                        <select class="inp-imp" name="country" id="country">
                                        {volist name="country" id="v"}
                                        <option value="{$v.name}" {notempty name="address"} {if condition="$v['name'] eq $address['country']"} selected {/if} {else /} {if condition="$v['name'] eq 'United States' "} selected {/if} {/notempty}>{$v.name}</option>
                                        {/volist}
                                        </select></div>
                                    </div>
                                   
                                    
                                    
                                    
                                    
                                    <input type="hidden" >
                                    <!-- <div class="m-100 item">
                                        <div class="tits">Address Line 2</div>
                                        <div class="inp"><input type="text" name="address_2"></div>
                                    </div>
                                    <div class="m-100 item">
                                        <div class="tits">Address Line 3</div>
                                        <div class="inp"><input type="text" name="address_3"></div>
                                    </div> -->
                                    <div class="m-100 item">
                                        <div class="sub">
                                            <span class="error"></span>
                                             <input type="hidden" name="userid" id="userid" value="{$user_id}">
                                            <button class="save" type="submit" >Save</button>
                                            <button class="edit" type="button">Edit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <form action="{:url('submit/index')}" method="post">
                             {volist name="list" id="vo" }
                                    <input type="hidden" name="price[]" class="toprice" value="{$vo['price']*$vo.num}">
                                    <input type="hidden" name="pro_name[]" value="{$vo.proname}" />
                                    <input type="hidden" name="num[]" value="{$vo.num}" />
                                    <input type="hidden" name="pro_pic[]" value="{$vo.pic}" />
                                    <input type="hidden" name="sku[]" value="{$vo.sku}" />
                                    <input type="hidden" name="proid[]" value="{$vo.id}" />
                            {/volist}
                            <div class="o-tit">Payment method</div>
                            <div class="method">
                                <div class="active">Paypal</div>
                              <!--   <div>Alipay</div>
                              <div>Credit Card (Stripe)</div> -->
                            </div>
                            <div class="o-tit">Distribution mode</div>
                            <div class="mode">

                                <div class="active" attr="0.00">FREE shipping（0.00）</div>
                                <div attr="20.00">UPS（20.00）</div>
                                <input type="hidden" name="shipping" class="ship" value="0.00">
                            </div>
                            <div class="sett">
                                <div class="left">
                                    <div class="codes">Discount code</div>
                                    <div class="inps">
                                       <input type="text" name="code" class="code" value="" />
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="total">
                                        <span class="titles">Total order：</span>
                                        <span class="tmoney">$40.98</span>
                                    </div>
                                    <div class="freight">
                                        <span class="titles">freight：</span>
                                        <span class="posage">$0.00</span>
                                    </div>
                                    <div class="payable">
                                        <span class="titles">Total payable：</span>
                                        <span class="num all-price" id="totalrice">$40.98</span>
                                        <input type="hidden" name="total" class="tota" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="pays">
                                <button type="button" onclick="window.location.href='/index/car/index.html'" class="ret-btn">Return Cart</button>
                          
                                <input type="submit" class="next-btn" style="border-radius: 14px;" value="Complete Order">

                            </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
     {include file="Public/footer" /}
    <script src="/index/js/jquery.js"></script>
    <script src="/index/swiper/dist/js/swiper.min.js"></script>
    <script src="/index/js/Component.js"></script>
    <script src="/index/js/index.js"></script>
    <script>

    $("#country").change(function(){


    var country=$("#country").val();
    if(country != 'United States'){
        $("#province1").show();
        $("#province2").hide();
    }else{
        $("#province2").show();
        $("#province1").hide(); 
    }

 })
    var w = 0;
    $(".toprice").each(function(){

    w+=parseFloat($(this).val());
    })

    $(".tmoney").text(w);

    $("#totalrice").text(w);
    $(".tota").val(w);

    $(".mode div" ).click(function(){
    var ship=$(this).attr("attr");
    var totalrice=parseFloat($("#totalrice").text()).toFixed(2);
    var toice=parseFloat($(".tmoney").text()).toFixed(2);
    var total=(parseFloat(ship)+parseFloat(totalrice)).toFixed(2);
    $(".posage").text(ship);
    $(".ship").val(ship);
    if(ship == '20.00'){
    $("#totalrice").text(total);
    $(".tota").val(total);
    }else{
      $("#totalrice").text(toice);   
      $(".tota").val(toice);
    }
})

    $(".code").change(function(){
    var str="";
        $("input[name='proid[]']").each(function(){ 
        str+=$(this).val()+","; 
        })
    var code=$(this).val();

    var total=$("#totalrice").text();
    if(code.length > 0){   
    $.ajax({
            type:'post',
            url:"{:url('order/code')}",  
            dataType:"text",  
            data:"id="+str+"&code="+code+"&total="+total,
            success:function(data){
                $("#totalrice").text(data);
                $(".tota").val(data);
            }
         })
    }else{
        var w = 0;
        $(".to .toprice").each(function(){
        w+=parseFloat($(this).text());
        })
        $("#tmoney").text(w);
        $("#totalrice").text(w);
        $(".tota").val(w);

    }
})
    </script>
</body>

</html>